<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start"
           [@animacao-painel]="estadoPainel"
           (@animacao-painel.start)="inicioAnimacao()"
           (@animacao-painel.done)="fimAnimacao()"
      >
        <app-cadastro (clickLogin)="cadastro = false;" (onError)="onErrorPainel()"></app-cadastro>
      </div>
    </div>
    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start"
           [@animacao-painel]="estadoPainel"
           (@animacao-painel.start)="inicioAnimacao()"
           (@animacao-painel.done)="fimAnimacao()">
        <app-login (clickCadastro)="cadastro = true;" (onError)="onErrorPainel()"></app-login >
      </div>
    </ng-template>
  </div>
</div>
